 #join-session{
	margin-top:25px;
}


#user-dashboard .delphi-list{
	list-style:none;
	width:100%;
	padding:0;
}

#user-dashboard .delphi-list .delphi-list-item{
	margin: 0 0 20px; 0;
	font-size:16px;
	border-bottom: 1px solid black;
}

#user-dashboard .delphi-list .delphi-list-item .delphi-description{
	margin-left: 25px;
}

#user-dashboard .card{
	margin-bottom:3rem;
}

#user-dashboard .error-message{
	text-align:center;
	margin-top:25px;
	padding:5px;
	border:1px solid red;
	font-size:20px;
}

#user-dashboard span.session-code{
	font-size:20px;
}

#new-list-page #new-list-form{
	font-size:1.5rem;
	padding:3rem 0rem 3rem 3rem;
	margin-top:5rem;
	border: 1.5px solid black;
}

#new-list-form label{
	text-align:center;
}

#new-list-form input{
	margin: 0 15% 0 10px;
}

#new-list-form input.radio{
	margin: 0 5px 0 10px;
}

.display-none{
	display:none;
}

#total-voters-page .grayed{
	background-color: #A9A9A9;
}

#total-voters-page .highlighted{
	background-color: #FFFF33;
}